.main-page {
    color: #ffff;
    background-color: #1b262cc4;
    opacity: 1;
    background-image:  linear-gradient(#261C2C 1px, transparent 1px), linear-gradient(to right, #261C2C 1px, #1b262cc4 1px);
    background-size: 25px 25px;
    overflow-y: scroll;
    overflow-x: scroll;
    width:10000px;
    height:10000px;
    top:0px;
    left:0px;
}
